// Fonts
$font-1: 'Gudea', sans-serif;
$font-2: 'Open Sans', sans-serif;

// Menu principal
$men-pri-bk-color-1: #313E3E;
$men-pri-bk-color-2: #259FA6;
$men-pri-bk-color-3: #259FA6;
$men-pri-color-1: #CBD6D6;
$men-pri-color-2: #FFF;

// Menu interno
$men-int-bk-color-1: #F0F3F5;
$men-int-bk-color-2: #F5F7F8;
$men-int-bk-color-3: #95A5A6;
$men-int-bk-color-4: #E0E4E7;
$men-int-bd-color: #E3E8EB;
$men-int-color: #5F7676;

// Colors
$color-1: #555;
$color-2: #777;
$color-3: #D5D5D5;
$color-4: #656B79;

// Background colors
$bk-color-1: #259FA6;
$bk-color-2: #FAFAFA;
$bk-color-3: #F2F2F2;
$bk-color-4: #EFEFEF;
$bk-color-5: #F0F3F5;
$bk-color-6: #2B3D51;
$bk-color-7: #F9F9F9;
$bk-color-8: #FCFCFC;
$bk-color-9: #95A5A6;

// Border colors
$bd-color-1: #EEEFF1;
$bd-color-2: #DDD;

// Indicadores
$ind-color-1: #19A9D5;
$ind-color-2: #6254B2;
$ind-color-3: #F9D21A;
$ind-color-4: #EE3939;
$ind-color-5: #23AD44;
$ind-color-6: #4F7EDB;
$ind-color-7: #F08C00;
$ind-color-8: #DA5AB6;
$ind-color-9: #04B0A3;
$ind-color-envia: #6254B2;
$ind-color-cancel: #FFF;
$ind-color-elimi: #EE3939;
$ind-color-acept: #19A9D5;

// Indicadores de error
$ind-error: #B56866;
$ind-success: #19A9D5;