@import 'mixins.scss';

.cont-contacto{
	.detalle{
		float: right;
		width: 620px;
		padding: 15px;
		h2{
			font-size: 14px;
			font-family: dinBold;
		}
		.contacto1{
			float: left;
			width: 180px;
			word-wrap: break-word;
			font-size: 12px;
		}
		.contacto2{
			float: left;
			clear: left;
			width: 220px;
			word-wrap: break-word;
			font-size: 12px;
		}
	}
}