@import 'mixins.scss';

.cont-noticia{
	.detalle{
		float: right;
		width: 620px;
		padding: 15px;
		.ck-contenido{
			clear: left;
		}
	}
	.lista{
		float: right;
		width: 620px;
		padding: 15px;
		.noticias{
			float: left;
			clear: left;
			width: 440px;
			margin: 0px 0px 0px 80px;
			padding: 0;
			list-style: none;
			li{
				.noticia{
					float: left;
					width: 100%;
					padding: 10px 0px 0px 0px;
					border-bottom: 1px dotted #A5A6A7;
					.miniatura{
						float: left;
						width: 80px;
						height: 50px;
						margin: 0px 15px 15px 0px;
						border: 4px solid #7B7C7E;
						box-sizing: content-box;
					}
					.texto{
						a{
							color: #3E3D40;
							&:hover{
								color: #05A1A7;
								text-decoration: none;
							}
							.titulo{
								margin: 0;
								font-size: 14px;
								font-family: dinBold;
							}
						}
						p{
							font-size: 12px;
						}
					}
				}
			}
		}
		.pagination{
			float: left;
			margin: 20px 0px 0px 240px;
			>li{
				>a{
					font-size: 12px;
					color: #555;
				}
				>a:hover{
					background-color: #FFF;
					color: #259FA6;
				}
				>a:first-child{
					@include border-radius(0px, 0px, 0px, 0px);
				}
				>a:last-child{
					@include border-radius(0px, 0px, 0px, 0px);
				}
			}
			>li.active{
				>a{
					color: #FFF;
					border: 1px solid transparent;
					background-color: #95A5A6 * 0.8;
					font-weight: bold;
				}
				>a:hover{
					@extend a;
				}
			}
		}
	}
	.titulo-con-logo{
		font-family: dinBold;
		color: #3E3D40;
		font-size: 18px;
		margin: 0px;
		padding: 10px 0px;
		.fa{
			float: left;
			margin: 0px 10px 12px 0px;
			padding: 7px 8px 7px 8px;
			color: #D6E7E4;
			background-color: #12A1A7;
			@include border-radius(20px, 20px, 20px, 20px);
		}
		span{
			float: left;
			padding: 7px 0px 0px 0px;
		}
	}
}